.container {
  background: black;
  position: relative;
  text-align: center;
}

.container h1 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.container h2 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.container img {
  opacity: 0.6;
  width: 100%;
  position: relative;
  object-fit: contain;
}

.video h2 {
  text-align: start;
}

.video a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box img {
  width: 200px;
  height: 200px;
  padding: 5px;
}

.box p {
  display: flex;
  border: 5px solid #6aaff2;
  width: 50%;
  margin: auto;
  border-radius: 10px;
  align-items: center;
}
